    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Niass GitDataLab</h2>
                <p>Niass GitDataLab is my personal website dedicated to Data Science. It showcases my projects completed during my Master's degree, co-accredited by the University of Lille, Centrale Lille, and IMT Nord. Here you can discover my work in data analysis, visualization, and machine learning.</p>
                <p>This website highlights my GitHub projects, which I developed and customized to illustrate my skills and background in data science. </p>
                <p>The visuals and graphics used on the site were created by me to accompany my analyses and demonstrations.</p>
                <p>Niass GitDataLab uses HTML, CSS, and JavaScript, allowing for smooth navigation and easy content customization.</p>
            </div>
        </div>
