    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download CV</h2>
                    <p>You can download My CV here</p>
                    <a href="./cvAng.pdf" class="btn btn-default btn-lg">Download</a>
                </div>
            </div>
        </div>
    </section>

<section id="download">
  <h2>Download my business card</h2>
<a href="https://github.com/saliouetu/my_business_card/releases/latest/download/card.pdf" target="_blank">
Download my business card
</a>

</section>
